/* bootstrap specific */
@media only screen and (min-width: 992px) {
    .container-fluid {
        max-width: 1050px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        max-width: 1500px;
    }
}

/* alert styles for messages */
.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed2d7;

}

/* main css */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin bottom by footer height */
    margin-bottom: 100px;
    min-height: 100%; 
    font-family: "Poppins", sans-serif;
    background: #fafafa !important;
}

#main {
    margin-top: 50px;
}

.main-color {
    color: #1abc9c;
}

.primary-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none !important;
    color: #1abc9c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}

/* display django-debug-toolbar */
[hidden][style="display: block;"] {
    display: block !important;
}

/* navbar */
.menu {
    color: #fff;
    background: #1abc9c;
    padding: 12px;
}

.brand {
    color: #333333;
    transition: all 0.3s ease-in-out;
}

.brand:hover {
    color: #ffffff;
}

.links li a {
    color: #333333;
    transition: all 0.3s ease-in-out;
}

.links li a:hover {
    color: #ffffff;
}

/* sidebar */
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar {
    text-align: center;
    padding: 20px 4px 25px 4px;
    /*margin-bottom: 30px;*/
    background: #ffffff;
    box-shadow: -2px -1px 60px 0px rgba(0,0,0,0.17);
}

.sidebar h2 { 
    font-size: 23px;
}

.sidebar h4 {
    font-size: 20px;
}

.sidebar span {
    color: #c1c1c1;
    font-weight: 400;
    line-height: 10px;
    font-size 13px;
}

.border {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-top: 30px;

}

.subscribe-form-text {
    margin-top: 5px;
    padding: 7px;
    border-radius: 15px;
    border: solid 3px #1abc9c;
    outline: none;
}

.subscribe-form button {
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: #FFF;
    background: #1abc9c;
    border: solid 3px #1abc9c;
    border-radius: 8px;
    text-align: center;
    outline: none;
}

.subscribe-form button:hover {
    opacity: .8;
}

.recent-comments {
    text-align: left;
    padding-top: 10px;
    margin-left: 3em;
    margin-right: 3em;
    border-bottom: solid 1px #cccccc;
}

/* main content */
.title {
    padding: 30px;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.page {
    padding-top: 15px;
    background: #ffffff;
    box-shadow: -2px -1px 60px 0px rgba(0,0,0,0.17);
}

.page-content {
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px dashed #dedede;
}

/* blog post */
.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c9c9c;
}

.space {
    padding-left: 10px;
}

#tag {
    padding: 2px 6px 2px 6px;
    background: #1abc9c;
    color: #fff;
}

.comments-space {
    padding-top: 8px;
    padding-bottom: 8px;
}

.share-buttons {
    padding-top: 15px;
    padding-left: 30px;
}

.share-buttons i {
    width:40px;
    height:40px;
    padding: 10px 10px 10px 10px;
    border: solid 2px #1abc9c;
    border-radius: 50%;
    margin-right: 5px;
}

.share-buttons i:hover {
    background-color: #1abc9c;
    color: #ffffff;
}


/* helpers */
.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.white-space {
    padding: 30px;
}

/* text size for mobile */
@media only screen and (max-width: 500px) {
    
    html {
        font-size: .84em;

    }

    .share-buttons i {
        font-size: 1.2em;
    }

    .sidebar h2 {
        font-size: 18px;
    }

    .sidebar h4 {
        font-size: 15px;
    }
    
    .subscribe-form-text {
        font-size: 14px;
    }   

    .subscribe-form button{
        font-size: 14px;
    }

}
