{% extends 'sidebar_base.html' %}

{% block page_title %}
    <h1> Data Science With Python </h1>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                   
                    <div class="card-block">
                        <h4 class="card-title"> Algorithms </h4>
                        <p> Read about the different types of machine learning algorithms. </p>
						<a href="#"> ML algorithms </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
				 <div class="card">
                   
                    <div class="card-block">
                        <h4 class="card-title"> Libraries </h4>
                        <p> Read about python libraries for machine learning. </p>
						<a href="#"> python libraries </a>
                    </div>
                </div>
            </div>
		</div>
		<div class="row">
            <div class="col-md-12 pt-md-3 pt-lg-3 pt-xl-3">
				<div class="card">
                  	
                    <div class="card-block">
                        <h4 class="card-title"> Hands On </h4>
                        <p> Interactive section using tools like pandas, seaborn, and scikit-learn </p>
						<a href="{% url 'machine_learning:main_page' %}"> interactive section </a>
            		</div>
                </div>
        	</div>        
        </div>
    </div>

{% endblock %}
