{% extends 'base.html' %}

{% load blog_tags %}

{% block content %}
    <h1> {{ object.title }} </h2>
    
    <img src="{{ object.image.url }}" width="300px" height="150px">
    
    {{ object.body|markdown }}

    <p> Published by {{ object.author }} on {{ object.published }}. </p>
    
    {% if object.updated != object.published %}
        <p> Updated on {{ object.updated }}. </p> 
    {% endif %}
    <p>
        Tags: 
        {% for tag in object.tags.all %}
            <a href="{% url 'blog:list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
        
        {% empty %}
            no tags yet.

        {% endfor %}

    </p>

{% endblock %}
