{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
    <h1> {{ object.title }} </h2>
    
    <p> {{ object.body|markdown }} </p>

    <p> Published by {{ object.author }} on {{ object.published }}. </p>
    
    <p> Updated on {{ object.updated }}. </p> 
    
    <p>
        Tags: 
        {% for tag in object.tags.all %}
            <a href="{% url 'blog:list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}

        {% endfor %}
    </p>
{% endblock %}
