{% extends 'sidebar_base.html' %}
{% load blog_tags %}

{% block page_title %}
    <h2> Blog List </h2>
{% endblock %}

{% block main %}
    {% for post in posts %}
        <h2> {{ post.title }} </h2>

        {{ post.body|truncatewords:20|markdown }}
        <a href="{% url 'blog:post_detail' post.slug  %}"> read more  </a>
        <p> <i class="fa fa-calendar"></i> {{ post.published.date }} 
            <i class="fa fa-user-o"></i> {{ post.author }} 
        </p>

    {% empty %}
        <p> no posts yet. </p>
    {% endfor %}
 
{% endblock %}
