{% extends 'full_page_base.html' %}

{% load blog_tags %}

{% block page_title %}
    {{ title|upper }}
{% endblock %}

{% block main %} 
    {% regroup command_list by section as section_list %}
		
	<div class="row">
		<div class="col-lg-6">
            <div class="paragraph-padding">

			 <div class="">
                    {% if data %}
                        The examples below are using the dataset(s) described by the snippit below.
                    {% endif %}

                    {% for df in data %} 
                        {{ df.preview|markdown }}
                        <br /><br />
                    {% endfor %}
            </div>
                        
			{% for commands in section_list %}
				<h2> {{ commands.grouper }} </h2> <br />
                
               
				{% for command in commands.list %}
				<div class="pb-5">
                    <h4> {{ command.title }} </h4>

					<p>	
                        {{ command.description }} <br />
                        
                        <div class="col-md-10">
                            {{ command.method|markdown }}

                            {% if command.image %}
                                <img src="{{ command.image.url }}" class="img-fluid">
                            {% endif %}

                        </div>
                    </p>
                </div>
				{% endfor %}
			{% endfor %}
            </div>
		</div>

		{# datacamp javascript #}
		<div class="col-lg-6">
			
			<h4> Interactive Shell </h4>

			<p> 
				Here is an interactive shell to try out the methods discussed
				on a dataframe 
			</p>

			<div data-datacamp-exercise data-lang="python">
				<code data-type="pre-exercise-code">
					# this gets executed each time the exercise is initialized
					import pandas as pd
    data = pd.DataFrame({{ data.first.data }})

				</code>
				<code data-type="sample-code">
					# dataframe name is data and only the first dataframe is available
				</code>
				<code data-type="solution">
					# not needed right now
				</code>
				 <code data-type="sct">
					{# this is to test the answer for the solution #}
				</code>
				<br />
				<br />
			</div>
	 	</div>
    </div>	
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
{% endblock %}
