{% extends 'full_page_base.html' %}

{% load blog_tags %}

{% block page_title %}
    {{ title|upper }}
{% endblock %}

{% block main %} 
    {% regroup command_list by section as section_list %}
		
	<div class="row">
		<div class="col-lg-6">
            <div class="paragraph-padding">
                        
			{% for commands in section_list %}
				<h2> {{ commands.grouper }} </h2> <br />
                
                <div class=""> 
                    The examples below are using the dataset described by the snippit below. 
                    {{ data.preview|markdown }} 
                </div>

				{% for command in commands.list %}
					<h4> {{ command.title }} </h4> <br />

					<p>	
                        {{ command.description }} <br /><br />
                        

                        Here are some examples of this in practice: <br/ >
                        <div class="col-md-10">
                            {{ command.method|markdown }}
                        </div>
                    </p>
				{% endfor %}
			{% endfor %}
            </div>
		</div>

		{# datacamp javascript #}
		<div class="col-lg-6">
			
			<h4> Interactive Shell </h4>

			<p> 
				Here is an interactive shell to try out the methods discussed
				on a dataframe 
			</p>

			<div data-datacamp-exercise data-lang="python">
				<code data-type="pre-exercise-code">
					# this gets executed each time the exercise is initialized
					import pandas as pd
					dataframe = pd.DataFrame({{ data.data }})

				</code>
				<code data-type="sample-code">
					# some examples of code to run in the shell

				</code>
				<code data-type="solution">
					# not needed right now
				</code>
				 <code data-type="sct">
					{# this is to test the answer for the solution #}
				</code>
				<br />
				<br />
			</div>
	 	</div>
    </div>	
	

{% endblock %}

{% block javascript %}
    <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
{% endblock %}
