{% extends 'full_page_base.html' %}

{% block page_title %}
    <h1> About </h1>

{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h2> Blog </h2>
            <p> 
                A blog going through the process of various datascience projects.  
                Includes figuring out a problem to solve, getting the data for the problem,
                cleaning the data as neccessary, and then exploring the data with visual
                libraries.  The blog posts will then go through using scikit-learn and the
                various machine learning algorthims it has.
            </p>

        <h2> Interactive Section </h2>
            <p>
                This section allows users to get hands on experience with python libraries
                such as pandas, numpy, seaborn, and scikit-learn.  It also has pages
                explaining the libraries and the various ways the are used.  There will be 
                pages on machine learning algorithms as well.
            </p>
    </div>

{% endblock %}
