{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1> Data Science with Python </h1>

        <div class="col-md-6">
            <p> Read about the machine learning algorthims here. </p>
        </div>
        <div class="col-md-6">
            <p> Read about python libraries for machine learning. </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p> Interactive section using tools like pandas, seaborn, and scikit-learn </p>
            </div>
        </div>
    </div>

{% endblock %}
