{% extends 'sidebar_base.html' %}

{% block page_title %}
    <h1> Data Science With Python </h1>
{% endblock %}

{% block main %}
    <div class="container-fluid">   
        <div class="col-md-6">
            <p> Read about the machine learning algorthims here. </p>
        </div>
        <div class="col-md-6">
            <p> Read about python libraries for machine learning. </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p> Interactive section using tools like pandas, seaborn, and scikit-learn </p>
            </div>
        </div>
    </div>

{% endblock %}
